body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header{
    grid-column: 1/13;
    background-color: #252525;
}

.header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 10vh;
}

.header nav{
    display: grid;
    grid-column: 5/13;
}

.logo{
    grid-column: 1/5;
    height: 100%;
    object-fit: cover;
}

.logo img{
    height:100%;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    font-family: Impact, Charcoal, sans-serif;
}
.menu a{
    width: 19%;
    text-decoration: none;
    color: #FF9900;
    text-align: center;
}
.menu a:hover{
    width: 19%;
    font-size: 29px;
    color: #FF6600;
}

main{
    display: grid;
    grid-column: 1/13;
}

.contenido {
    height: 80vh;
    min-height:80vh;
    background-color: #FFFF66;
}

footer{
    display: grid;
    grid-column: 1/13;
}

.footer{
    height:10vh;
    background-color: #252525;
    text-align: center;
    width: 100%;
    font-family: Impact, Charcoal, sans-serif;
    color:#FF9900;
}

